<!-- Controller As lets you keep things nice and name spaced -->
<div class="container-fluid">
    <!-- navigation BREADCRUMBS -->
    <div class="row">
      <div class="col-xs-11">
        <div class="btn-group btn-breadcrumb">
          <a href="#" class="btn btn-default"><span style="color: #FFFFFF;">____</span></a>
          <a ui-sref=".home" class="btn btn-default">HOME</a>
        </div>
      </div>
      <a ui-sref=".learn-meter" class="col-xs-1" role="button" aria-pressed="false">&#10068;</a>
    </div>
    <!-- WELCOME Ø₪₪₪₪§╣ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ> -->
    <h1 class="text-center">Hello {{MainCtrl.user.username}}!</h1>
    <h1 class="text-center" id="Poementor_welcome_header">WELCOME to “Poementor”</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 img-responsive" id="Mentor_seated"><img src="../../images/PoemMentor_image.png" alt="Mentor"></div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <p><strong>“Poementor” is for aspiring poets and lyricists: to streamline composing, editing, annotating, storing, and sharing all sorts of verse &mdash; as well as provide dynamic templating, modeling, and tutorial functionalities that conveniently aid writers in more easily conforming to various traditional poetical forms, metrical prosody structures, rhyme-schemes, etc.</strong></p>
          <p id="want_write_poem"><a ui-sref=".poem-selector">&#9112;<span class="badge">Want to write a poem?</span>&#128395;</a></p>
        </div>
      </div>
    </div>
    <!-- navigation tabs »»——————————————————► -->
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs nav-center">
          <li class="active"><a ui-sref=".home">HOME</a></li>
          <li><a href="#">my ANTHOLOGY</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">poetical forms<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref=".haiku">haiku &#20467;&#21477;</a></li>
              <li><a ui-sref=".limerick">limerick</a></li>
              <li><a ui-sref=".shakespearean">Shakespearean sonnet</a></li>
            </ul>
          </li>
          <li><a ui-sref=".learn-meter">learn metrical “feet”</a></li>
          <li><a ui-sref=".about">about “Poementor”</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="text-align: center;">currently supported poetical forms:</h3></div>
      <div class="panel-body">
        <p>Poementor strives to support an increasing variety of poetical forms, with the eventual goal of supporting most historically and traditionally popular forms.</p>
      </div>
    </div>
    <!-- poetical forms TABLE -->
    <div class="row">
      <div class="col-xs-12">
        <table class="well table" id="poetical_forms_TABLE">
          <thead>
            <tr id="poetical_forms_TABLEhead">
              <th>poetical forms:</th>
              <th>traditionally predominant meter:</th>
              <th>rhyme-scheme:</th>
              <th>originating/popularizing culture:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>haiku &#20467;&#21477;</td>
              <td>17 “morae” &mu;</td>
              <td>none</td>
              <td>Japanese</td>
            </tr>
            <tr>
              <td>limerick</td>
              <td>anapestic</td>
              <td>AABBA</td>
              <td>English</td>
            </tr>
            <tr>
              <td>Shakespearean sonnet</td>
              <td>iambic pentameter</td>
              <td>ABAB CDCD EFEF GG</td>
              <td>English</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Ø₪₪₪₪§╣ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ> -->
  </div>
  <!-- END container -->
