html body form .haikuContainer {
  background: url("../../images/ricepaper.png") no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.rhymeDropdownLabel {
  float: right;
}
label {
  color: #CCCCCC;
}
