<!-- haiku composer -->
<div class="container haikuContainer" ng-controller="haiku as haiku">
  <h2 class="poemTitle text-center">{{haikuTitle}} <span><a href="#">&#128395;</a></span><span class="badge">haiku &#20467;&#21477;</span></h2>

  <form class="form-horizontal" id="haiku_template">
    <!-- kaiku line 1 -->
    <label for="haikuLine1" class="metricalLine">five “morae” (syllables)</label>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">1</span>
      <input type="text" class="form-control poemLine" id="haiku_line1" placeholder="An old pond...">
      <span class="input-group-addon"><input type="checkbox" aria-label="line complete?"></span>
    </div>
    <!-- kaiku line 2 -->
    <label for="haikuLine2" class="metricalLine">seven “morae” (syllables)</label>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">2</span>
      <input type="text" class="form-control poemLine" id="haiku_line2" placeholder="">
      <span class="input-group-addon"><input type="checkbox" aria-label="line complete?"></span>
    </div>
    <!-- kaiku line 3 -->
    <label for="haikuLine3" class="metricalLine">five “morae” (syllables)</label>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">3</span>
      <input type="text" class="form-control poemLine" id="haiku_line3" placeholder="">
      <span class="input-group-addon"><input type="checkbox" aria-label="line complete?"></span>
    </div>
    <br>
    <!-- POEM COMPOSITION BUTTONS -->
    <div class="form-group row text-center poemComposerButtonsContainer">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-default">archive current version of poem</button>
      </div>
    </div>
  </form>
  <!-- haiku tutorial -->
  <div class="well">
    <p><b>Haiku</b> &#20467;&#21477; (plural also “haiku”) is a short form style of Japanese poem. Haiku written in Japanese are typically printed in a single vertical line, whereas English language haiku usually have three lines to parallel the three phrases
      of Japanese haiku. Haiku is a style of poetry that traditionally focuses on “cutting” (kuru &#64000;&#12427;) by juxtaposing two images or ideas with a kereji (“cutting word”) in between them which signals the separation, and may indicate or underscore
      how the juxtaposed elements are related.</p>
    <ul>
      <li>Traditional Japanese language haiku consist of 17 morae (often roughly translated as “syllables”), and written as three phrases of 5, 7, and 5.</li>
      <li>Most, though not all, haiku involve nature; traditional haiku contain a “kigo” (“seasonal reference”) drawn from a saijiki, which is an extensive list of such words.</li>
      <li>Even some modern haiku that buck tradition and don’t exactly follow the traditional structure or take nature as a major part of their subject still almost always tend to use juxtaposition, sometimes of directly observed everyday objects or occurrences.</li>
      <li>Previously called hokku, haiku was given its current name by the Japanese writer Masaoka Shiki at the end of the 19th century</li>
    </ul>
  </div>
</div>
