<nav role="navigation">
    <div id="menuToggle">
      <!-- fake / hidden checkbox used as click reciever for :checked selector -->
      <input type="checkbox" />
      <!-- hamburger spans -->
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li ui-sref-active="active"><a ui-sref=".home">HOME</a></li>
        <li><a ui-sref=".anthology">my ANTHOLOGY</a></li>
        <!-- poetical forms -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" id="poetical_forms_submenuTITLE"><a class="accordion-toggle" data-toggle="collapse" data-parent="#poetical_forms_submenu" href="#poetical_forms_submenu">poetical forms</a></h4>
          </div>
          <div id="poetical_forms_submenu" class="panel-collapse collapse">
            <div class="panel-body">
              <ul id="poetical_forms_submenuLIST">
                <li><a ui-sref=".haiku">haiku &#20467;&#21477;</a></li>
                <li><a ui-sref=".limerick">limerick</a></li>
                <li><a ui-sref=".Shakespearean">Shakespearean sonnet</a></li>
              </ul>
            </div>
          </div>
        </div>
        <li ui-sref-active="active"><a ui-sref=".about">about “Poementor”</a></li>
      </ul>
    </div>
  </nav>
  <div ui-view></div>
