<div class="container-fluid">
    <br>
    <div class="well">
      <div class="row">
        <h2 id="about_Poementor_header"><span class="col-xs-12 col-md-6 col-md-offset-3">about Poementor:</span>
          <a href="#" class="col-xs-12 col-md-3">&#9112;<span class="badge">Want to write a poem?</span>&#128395;</a>
        </h2>
      </div>
      <br>
    </div>
    <!-- ABOUT Ø₪₪₪₪§╣ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ> -->
    <a href="#" id="logo_link"><img src="../../../images/PP_logo-sketch.png" alt="Poementor logo" height="42" width="42"></a>
    <!-- about Poementor -->
    <h2 style="text-align:center;">Why “Poementor”?</h2>
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <p>“Poementor” is a “M.E.A.N.-stack” (Mongo, Express, Angular, Node) application for aspiring poets and lyricists that streamlines composing, editing, annotating, storing, and sharing all sorts of verse &mdash; as well as providing dynamic templating, modeling, and tutorial functionalities that conveniently aid writers in more easily conforming to various traditional poetical forms, metrical prosody structures, rhyme-schemes, etc.</p><br>
          <p></p>
        </div>
      </div>
    </div>
    <!-- acknowledgements -->
    <footer>
      <h3 style="text-align: center;">acknowledgements:</h3>
      <div class="well">
        <div class="row">
          <div class="col-xs-12">
            <br><p>Rhyming-dictionary functionality is generously provided by the <a href="http://rhymebrain.com" target="_blank"><b>RhymeBrain.com</b></a> API.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- END container -->
